html,
body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
}
.nav {
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
    padding: 16px;
    position: relative;
    z-index: 2;
}
.logo {
    display: flex;
    padding-left: 16px;
}
.logo img {
    max-width: 208px;
}
#map {
    width: 100%;
    height: calc( 100vh - 64px );
}
svg {
    position: relative;
}
path {
    fill: yellow;
    stroke-width: 2px;
    /* stroke: red; */
    stroke-opacity: 1;
}
.travelMarker {
    fill: yellow;
    opacity: 0.75;
}
.waypoints {
    fill: pink;
    opacity: 0;
}
.station {
    background-image: url('./marker.png');
}
.lineConnect {
    fill: none;
    stroke: grey;
    stroke-width: 3;
    opacity: 1;
}
.locnames {
    /* fill: #173e6f;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #fff; */
    fill: #afeffd;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #173e6f;
}